@charset "utf-8";

@import url("template.css");

* {font-size:100%;font:inherit;vertical-align:baseline;}


body {
  font: 13px/20px 'Lucida Grande', Tahoma, Verdana, sans-serif;

}

.textContentContainer {
    position:relative;
    width:1000px;
    top:50px;
    margin:auto;
}

    .textContentContainer iframe {
        width:100%;
        height:auto;
    }