@charset "utf-8";

@import url("template.css");

* {font-size:100%;font:inherit;vertical-align:baseline;}


body {
  font: 13px/20px 'Lucida Grande', Tahoma, Verdana, sans-serif;

}


#imgContainer {
    position: relative;
    width: 100%;
    height:100%;
}

#homeBanner {
    width: 100%;
    height:100%;
}